# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- feature/*

pool:
  vmImage: 'windows-2019'

variables:
  buildConfiguration: 'Release'
  Major: '1'
  Minor: '0'
 # Patch: 'Patch number'
#Use below line if you want to mention patch# along with same version#
#name: $(Major).$(Minor).$(Patch)
name: $(Major).$(Minor).$(rev:r)
steps:
- task: UseDotNet@2
  displayName: 'Install .NET Core SDK'
  inputs:
    version: 5.0.x
    performMultiLevelLookup: true
    includePreviewVersions: true # Required for preview versions
    
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)' # Update this to match your need

- task: ResharperCli@2
  inputs:
        solutionOrProjectPath: $(System.DefaultWorkingDirectory)\TTM.Insights.Api.sln
        failBuildLevelSelector: 'Error'
        failBuildOnCodeIssues: true
        additionalArguments: /disable-settings-layers:SolutionPersonal --properties:Configuration=$(BuildConfiguration)
        resultsOutputFilePath: $(Build.ArtifactStagingDirectory)/tests-results/ReportGenerator/ResharperResults.xml

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: PublishTestResults@2
  inputs:
        testResultsFormat: 'XUnit'
        testResultsFiles: '**/TEST-*.xml'

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
